---
const { title, name, icon, type, placeHolder, required } = Astro.props;
---

<div class="form-group">
    <label class="form-label" for={title}>{title}</label>
    <div class="input-wrapper">
        <i class={"ph " + icon + " input-icon"}></i>
        <input 
            type={type} 
            id={title} 
            name={name}
            class="form-input" 
            placeholder={placeHolder} 
            required={required} 
        >
        {type === "password" && (
            <i class="ph ph-eye-slash toggle-password" id="togglePassword"></i>
        )}
        
    </div>
</div>